.intros {
    display: flex;
    height: 78vh;
    margin-top: 6rem;
    padding: 0 3rem 0 3rem ;
}

.i-left {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name> :nth-child(1) {
    font-size: 4rem;
    color: var(--black);
    font-weight: bold;
}

.i-name> :nth-child(2) {
    font-size: 3rem;
    color: var(--orange);
    font-weight: bold;
}

.i-name :nth-child(3) {
    font-size: .8rem;
    font-weight: 100;
    color: var(--gray);
    margin-top: 2rem;
}

.i-button {
    height: 1.5rem;
    width: 3.3rem;
}

.i-icons {
    display: flex;
    gap: 0rem;
}

.i-icons>* {
    transform: scale(0.5);
}

.i-icons>*:hover {
    cursor: pointer;
    transform: scale(0.4);
}

/* right side design */

.i-right {
    flex: 1;
    position: relative;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2) {
    transform: scale(0.67);
    top: -4.5rem;
    left: -3rem;
}
.i-right>:nth-child(3){
    transform: scale(1.4);
    left:28%;
}
.i-right>:nth-child(4){
    border-radius: 50%;
    transform: scale(0.8);
    left: -25%;
    top: -20%;
}